<launch>
  <!-- Launch Gazebo with your maze world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find maze_map)/worlds/maze.world"/> -->
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- Load TurtleBot3 URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(env TURTLEBOT3_MODEL).urdf.xacro"/>

  <!-- Publish robot state
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

  <node pkg="dev_fl_robot_pkg"
        type="robot_launcher.py"
        name="robot_launcher"
        output="screen"/>

</launch>
